name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      package-version:
        type: string
        required: true
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - dev
          - prod
        default: dev
      package-version:
        type: string
        required: true

concurrency:
  group: ${{ inputs.environment }}

jobs:
  deploy:
    name: Deploy
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Fetch assets
        run: |
          aws s3 cp \
            s3://${{ vars.PACKAGES_S3_BUCKET_NAME }}/${{ inputs.package-version }}.zip \
            ./

      - name: Populate assets
        run: |
          unzip ${{ inputs.package-version }}.zip -d ./package

          aws s3 rm s3://${{ vars.SITE_S3_BUCKET_NAME }} --recursive

          aws s3 cp --recursive \
            ./package/ \
            s3://${{ vars.SITE_S3_BUCKET_NAME }}

      - name: Create CloudFront invalidation
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths '/*'

      - name: Annotate workflow run
        run: echo "::notice title=Deployed version::${{ inputs.package-version }}"
